header {
  margin-top: 15px;
}

body {
  text-align: center;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 50px;
  outline: 3px solid burlywood;
}

.array-bar {
  width: 14px;
  display: inline-block;
  margin: 0 1px;
}

.array-bar span {
  writing-mode: vertical-lr;
  font-size: 10px;
  color: white;
}

button {
  margin: 3px 10px;
  padding: 5px 10px;
  background: blanchedalmond;
  transition: 0.2s ease-in;
  border: 1px solid brown;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  color: white;
}

.generate-btn:hover {
  background: darkslateblue;
}
.merge-btn:hover {
  background: dodgerblue;
}
